#skills {
    margin: 3rem auto;    
}
h1 {
    text-align: center;
    background: linear-gradient(45deg, var(--blue), #00ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    letter-spacing: 1.8px;
}
.skills {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap; 
    justify-content: center;
}
.skills div{
    text-align: center;
}

.skills div h3 {
    font-size: 2rem;
    margin-bottom: 14px;
}

.skills div p {
    margin-left: -1px;
    color: var(--subtilte);  
}

.icon-github {
    color: var(--title);
}

@media (max-width: 627px){
    .skills {
        gap: 2rem;
}
}