@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary : #000;
  --secondary : rgb(25,25,27);
  --border : rgba(63,63,70,0.4);
  --title : white;
  --subtilte : rgb(219, 219, 223);
  --bgheader : rgb(39,39,42);
  --blue : rgb(93, 188 ,252);
  --linear1 : #00c6ff;
  --linear2 : #0072ff;
  --boxshadow : gray;
  --bg : rgba(46, 46, 46, 0.8);
}

.light {
  --primary : rgb(250, 250, 250);
  --secondary : rgb(255, 236, 252);
  --border : rgba(202, 202, 202, 0.518);
  --title : rgb(0, 0, 0);
  --subtilte : rgb(36, 36, 37);
  --bgheader : rgb(246, 208, 241);
  --blue : rgb(248, 115, 255);
  --linear1 : #ff0095;
  --linear2 : #f200ff;
  --boxshadow : #ff81eb;
  --bg : rgba(251, 196, 249, 0.8);
}

body {
  background-color: var(--primary);
  font-family: "Roboto", serif;
}

html {
  color: white;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 4.8rem;
  background-color: var(--secondary);
  border: 2px solid var(--border);
}

.line {
  border-bottom: 1px solid var(--border);
  margin: 3rem 0;
  width: calc(100% + 4.8rem + 4.8rem);
  margin-left: -4.8rem;
}

.icon-arrow-up{
  position: fixed;
  bottom: 1rem;
  right: 3%;
  background-color: var(--blue);
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 100%;
  font-weight: bold;
  font-size: 1.1rem;
  border: 1px solid var(--border);
}

.icon-arrow-up:hover{
  cursor: pointer;
  scale: 1.1;

}

@media (max-width: 1000px) {
  .container {
    width: 90%;
    padding: 0 1.5rem;
  }
  .line {
      width: calc(100% + 1.5rem + 1.5rem);
      margin-left: -1.5rem;
  }
}

@media (max-width: 600px) {
  .container {
    width: 98%;
    padding: 0 1.5rem;
  }
  .line {
      width: calc(100% + 1.5rem + 1.5rem);
      margin-left: -1.5rem;
  }
}